@import "../../../variables.scss";

.container > div {
  margin: 1rem;
}
.custom-line {
  margin: auto;
  border: 1px solid $font-color;
}

.line {
  display: flex;
  flex-direction: row;
}

.word {
  display: flex;
  flex-direction: row;
}

.letter {
}

.wrong-letter {
  color: #ff4949;
}

.correct-letter {
  color: #009d00;
}

.neutral-letter {
  color: $font-color;
}

.current-letter {
  color: yellow;
  //transform: scale(1.2);
}
