<div class="container">
  <div class="error">Errors: {{ errorCount }}</div>
  <div class="speed">Speed: {{ speed }} WPM</div>
  <div class="custom-line"></div>
  <div class="text-wrapper">
    <div class="lines-wrapper">
      <pre *ngFor="let line of xE.lines; let i = index">
      <span *ngFor="let char of line.split(''); let j = index"
          [ngClass]="getStyleClassForCurrentLetter(i,j)">{{ char }}</span>
      </pre>
    </div>
    <div class="lines-wrapper">
      <pre
        *ngFor="let line of yE.lines; let i = index"
        style="width: fit-content"
      >
      <span *ngFor="let char of line.split(''); let j = index"
          [ngClass]="getStyleClass(char, i, j)">{{ char }}</span>
      </pre>
    </div>
    <dialog #dialog>
      Summary: WPM: {{ bestSpeed }}, Accuracy: {{ accuracy }}%, Errors:
      {{ errorCount }}
      <button type="button" (click)="closeDialog()">X</button>
    </dialog>
  </div>
</div>
