@import "../../../variables.scss";

.container > div {
  margin: 1rem;
}

pre {
  padding: 0;
  margin: 0;
}

.custom-line {
  margin: auto;
  border: 1px solid $font-color;
}

.text-wrapper {
  position: relative;
}

.lines-wrapper {
  position: absolute;
  line-height: 1rem;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

.space {
  color: rgba(0, 0, 0, 0);
  background-color: #ff4949;
}

.wrong-letter {
  color: #ff4949;
}

.correct-letter {
  color: #009d00;
}

.current-letter {
  z-index: 1;
  color: black;
  background-color: $font-color;
  transform: scale(0.8);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(0.8);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
