<div class="container">
  <div class="error">Errors: {{ errorCount }}</div>
  <div class="speed">Speed: {{ speed }} WPM</div>
  <br />
  <br />
  <div
    class="line"
    *ngFor="let line of textModel?.lines; let lineIndex = index"
  >
    <div class="word" *ngFor="let word of line?.line; let wordIndex = index">
      <div
        class="letter"
        *ngFor="let letter of word?.letter; let letterIndex = index"
        [ngClass]="getClass(letter, lineIndex, wordIndex, letterIndex)"
      >
        {{ letter }}
      </div>
      &nbsp;
    </div>
  </div>
  <dialog #dialog>
    Summary: WPM: {{ bestSpeed }}, Accuracy: {{ accuracy }}%, Errors:
    {{ errorCount }}
    <button type="button" (click)="dialog.close()">X</button>
  </dialog>
</div>
