<div class="navbar-wrapper">
  <div class="navbar-left">
    <div><a [routerLink]="['/']">Home</a></div>
    <div><a>Join_Room</a></div>
    <div>
      <a [routerLink]="['/top100']">Top_100</a>
    </div>
  </div>
  <div class="navbar-right">
    <ng-container *ngIf="authService.isLoggedIn | async">
      <div><a [routerLink]="['/profile']">Profile</a></div>
      <button type="button" (click)="logout()">Log_out</button>
    </ng-container>
    <ng-container *ngIf="!(authService.isLoggedIn | async)">
      <div>
        <a [routerLink]="['/login']">Log_In</a>
      </div>
    </ng-container>
  </div>
</div>
